@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Quicksand:wght@300&family=Roboto&family=Saira+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@300&family=Roboto&family=Saira+Condensed:wght@300&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Lora";
  font-weight: lighter;
  color: #fffbf0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(51, 53, 51, 0.9)), to(rgba(51, 53, 51, 0.2)));
  background: linear-gradient(to right, rgba(51, 53, 51, 0.9), rgba(51, 53, 51, 0.2));
  /* 
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url(/Images/blank-brown-paper-textured-wallpaper-min.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #f5cb5c;
  margin: 0;
}

h2,
h3 {
  font-family: "Lora";
  margin: 0;
  font-weight: lighter;
}

/* .wrapper {
  @include flexCenter;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  position: relative;

  & i {
    position: absolute;
    top: 50%;
    height: 46px;
    width: 46px;
    color: $secondary-color;
    background: $primary-color;
    text-align: center;
    line-height: 46px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    transform: translateX(-50%);

    &:first-child {
      left: 25px;
      display: none;
    }
    &:last-child {
      right: -15px;
    }
  }

  & .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;

    &.dragging {
      cursor: grabbing;
      scroll-behavior: auto;

      & img {
        pointer-events: none;
      }
    }
  }
  & img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    margin-left: 0px;

    @media (max-width: $lg) {
      width: calc(100% / 1);
    }

    &:first-child {
      margin-left: 0px;
    }
  }
} */
.logo img {
  margin: 0;
  color: #f5cb5c;
  background: #f5cb5c;
  height: 50px;
}

.to-top {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.to-top i {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 2rem;
  background: rgba(255, 251, 240, 0.2);
  padding: 4px 8px;
  border: 1px solid rgba(83, 83, 83, 0.7);
  border-radius: 4px;
  cursor: pointer;
  background: rgba(51, 53, 51, 0.5);
  color: #f5cb5c;
}

.to-top.active {
  opacity: 1;
  pointer-events: auto;
}

.to-top.active i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.to-down {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.to-down i {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  font-size: 2rem;
  background: rgba(255, 251, 240, 0.2);
  padding: 4px 8px;
  border: 1px solid rgba(83, 83, 83, 0.7);
  border-radius: 4px;
  cursor: pointer;
  background: rgba(51, 53, 51, 0.5);
  color: #f5cb5c;
}

.to-down.active {
  opacity: 1;
  pointer-events: auto;
}

.to-down.active i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.nav {
  position: fixed;
  top: 0;
  width: calc(100% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(51, 53, 51, 0.7);
  -webkit-box-shadow: 0px 0px 4px #fffbf0;
          box-shadow: 0px 0px 4px #fffbf0;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2;
}

@media (max-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__left a h1:hover {
  color: #333533;
}

.nav.open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav__item {
  list-style: none;
}

.nav__link {
  display: block;
  text-decoration: none;
  color: #f5cb5c;
  font-family: "Lora";
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.nav__link:hover {
  background-color: #f5cb5c;
  color: #333533;
}

.menu-btn {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .menu-btn {
    visibility: visible;
  }
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #333533;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #333533;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #333533;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.hero {
  /* 
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    // darker overlay EZ
    url(/Images/hero-min.jpg); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero__title {
  font-size: 45px;
}

.hero__text {
  font-size: 25px;
}

#main-container {
  width: 100vw;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem auto;
}

#main-container h1 {
  margin: 2rem auto;
  text-decoration: underline;
}

#main-container .instaload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#main-container img {
  width: 25vw;
  margin: 10px;
}

@media (max-width: 768px) {
  #main-container img {
    width: 35vw;
    margin: 1rem 1rem;
  }
}

@media (max-width: 768px) {
  #main-container {
    width: calc(100% - 15px);
  }
}

.container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.bio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .bio-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bio-container a {
  border: 2px solid rgba(51, 53, 51, 0.4);
  padding: 10px 20px;
  background: rgba(51, 53, 51, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.bio-container a:hover {
  background: rgba(245, 203, 92, 0.5);
  color: #121213;
}

.cvcontainer img {
  width: 40vw;
}

@media (max-width: 768px) {
  .cvcontainer img {
    width: 80vw;
  }
}

.bioimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bioimg a {
  color: #f5cb5c;
  font-size: 2rem;
  text-decoration: none;
  cursor: pointer;
}

.bioimg i {
  color: #f5cb5c;
  font-size: 2rem;
}

.bioimg img {
  margin: 40px;
  top: 0;
  width: 20vw;
}

@media (max-width: 768px) {
  .bioimg img {
    width: 40vw;
  }
}

footer {
  bottom: 0;
  width: 100vw;
  background-color: rgba(83, 83, 83, 0.5);
  color: #f5cb5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container h2 {
  margin: 0 2rem;
}

footer .footer-container .social-icons i {
  color: #f5cb5c;
  font-size: 1.5rem;
  margin: 0 1rem;
}

footer .footer-container .social-icons i:hover {
  color: #121213;
}

.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-container .works-map img {
  width: 70vw;
  height: 80vh;
}

.works-container .works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-container .works-content h1 {
  margin: 2rem auto;
}

.works {
  width: 70vw;
}

.works .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
}

.works .img-container img {
  width: 20vw;
  margin: 2rem;
}

#accordion {
  margin: 100px auto;
  width: 40vw;
}

#accordion .faq-content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

#accordion li {
  list-style-type: none;
  width: 100%;
  margin-bottom: 100px;
  background: rgba(245, 203, 92, 0.4);
  padding: 15px;
  border-radius: 3px;
}

#accordion li img {
  position: fixed;
  margin: 0;
  max-height: 0;
  top: 20vh;
  right: 10rem;
  -webkit-transition: max-height 0.6s ease-out;
  transition: max-height 0.6s ease-out;
}

#accordion li label {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  color: #333533;
}

#accordion li label + input[type="radio"] {
  display: none;
}

#accordion li label + input[type="radio"]:checked + .faq-content {
  max-height: 200px;
}

#accordion li label + input[type="radio"]:checked + .faq-content img {
  max-height: 80vh;
}

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
  margin-right: 70vw;
  /* & .faq-box {
    position: relative;
    margin: 1rem auto;
    cursor: pointer;

    & p {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
    }

    &.active {
      & p {
        max-height: 100%;
      }

      & i {
        transform: rotate(180deg);
      }
    }

    & i {
      position: absolute;
      right: 0;
      top: 1rem;
      font-size: 25px;
      transition: transform 0.2s ease-in-out;
    }
  }

  & .faq {
    padding: 5rem;

    & .faq-title {
      @include flexCenter;
      flex-direction: column;
      margin: 2rem auto;
    }
  } */
}

/* .faq-img {
  width: 50vw;
  height: 70vh;

  @media (max-width: $md) {
    display: none;
  }

  & img {
    width: 40vw;
    margin-left: 5rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
} */
.faq-line {
  width: 90%;
  height: 3px;
  margin: 3rem auto;
  background: #333533;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#333533), to(transparent));
  background: linear-gradient(to right, transparent, #333533, transparent);
}

.contact-container {
  background-image: url(/Images/contact_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0;
  height: 100vh;
}

.contact-container .contact-links {
  background: rgba(51, 53, 51, 0.5);
  padding: 2rem;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px #fffbf0;
          box-shadow: 5px 5px 5px #fffbf0;
  position: absolute;
  top: 6rem;
}

.contact-container .contact-links i {
  color: #f5cb5c;
}

.contact-container h1,
.contact-container h2 {
  margin: 1rem;
}

.contact-container .social-icons {
  cursor: pointer;
  font-size: 2rem;
}

.contact-container .social-icons i {
  color: #f5cb5c;
  margin: 1rem;
}

.contact-container .social-icons i:hover {
  color: #333533;
}

.hero .image-carousel {
  width: 100vw;
  height: 100vh;
}

.hero .image-carousel .image-carousel__btn--prev {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.hero .image-carousel .image-carousel__btn--next {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.image-carousel {
  position: relative;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  background-color: rgba(255, 251, 240, 0.2);
}

.image-carousel .image-carousel__btn--prev {
  left: 0;
}

.image-carousel .image-carousel__btn--next {
  right: 0;
}

.image-carousel .image-carousel__dots-container {
  bottom: 0;
}

.image-carousel__btn {
  position: absolute;
  z-index: 10;
  color: #f5cb5c;
  background-color: rgba(51, 53, 51, 0.3);
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.image-carousel__btn:hover {
  background-color: rgba(51, 53, 51, 0.8);
}

.image-carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  width: 100%;
  height: 100%;
  display: flex;
}

.image-carousel__slide img {
  height: 100%;
}

.image-carousel__slide--active {
  opacity: 1;
}

.image-carousel__dots-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  width: 100%;
  height: 30px;
  bottom: -30px;
  -webkit-transition: bottom 0.2s ease;
  transition: bottom 0.2s ease;
}

.image-carousel__dot {
  display: block;
  width: 25px;
  height: 10px;
  background-color: gray;
  margin: 0 5px;
}

.image-carousel__dot--active {
  background-color: red;
}
/*# sourceMappingURL=style.css.map */