@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Quicksand:wght@300&family=Roboto&family=Saira+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@300&family=Roboto&family=Saira+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Lora";
  font-weight: lighter;
  color: #fffbf0;
  background: linear-gradient(to right, rgba(51, 53, 51, 0.9), rgba(51, 53, 51, 0.2));
  /* 
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url(/Images/blank-brown-paper-textured-wallpaper-min.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: #f5cb5c;
  margin: 0;
}

h2,
h3 {
  font-family: "Lora";
  margin: 0;
  font-weight: lighter;
}

/* .wrapper {
  @include flexCenter;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  position: relative;

  & i {
    position: absolute;
    top: 50%;
    height: 46px;
    width: 46px;
    color: $secondary-color;
    background: $primary-color;
    text-align: center;
    line-height: 46px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    transform: translateX(-50%);

    &:first-child {
      left: 25px;
      display: none;
    }
    &:last-child {
      right: -15px;
    }
  }

  & .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;

    &.dragging {
      cursor: grabbing;
      scroll-behavior: auto;

      & img {
        pointer-events: none;
      }
    }
  }
  & img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    margin-left: 0px;

    @media (max-width: $lg) {
      width: calc(100% / 1);
    }

    &:first-child {
      margin-left: 0px;
    }
  }
} */
.logo img {
  margin: 0;
  color: #f5cb5c;
  background: #f5cb5c;
  height: 50px;
}

.scrollButton,
.downButton {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}
.scrollButton i,
.downButton i {
  font-size: 2rem;
  background: rgba(255, 251, 240, 0.2);
  padding: 4px 8px;
  border: 1px solid rgba(83, 83, 83, 0.7);
  border-radius: 4px;
  background: rgba(51, 53, 51, 0.5);
  color: #f5cb5c;
}
.scrollButton.active,
.downButton.active {
  opacity: 1;
  pointer-events: auto;
}

.downButton {
  pointer-events: none;
  opacity: 0;
}
.downButton.active {
  opacity: 1;
  pointer-events: auto;
}

/* .nav {
  position: fixed;
  top: 0;
  width: calc(100% - 15px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($primary-color, 0.7);
  box-shadow: 0px 0px 4px $bg-dark;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.2s ease;
  z-index: 2;

  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    transform: translateY(-110%);
  }
  &__left {
    @include flexCenter;

    & a {
      & h1:hover {
        color: $primary-color;
      }
    }
  }

  &.open {
    transform: translateY(0%);
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $secondary-color;
    font-family: $primary-font;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

.menu-btn {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  visibility: hidden;
  @include transition;

  @media (max-width: $md) {
    visibility: visible;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: $primary-color;

    @include transition;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: $primary-color;
      @include transition;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: $primary-color;
      @include transition;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
} */
/*  */
/* .insta-img-main {
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
} */
/* .insta-img {
  width: 100vw;
  padding: 25px;
  @include flexCenter;
  flex-wrap: wrap;
  margin: 2rem auto;

  & h1 {
    text-decoration: underline;
  }

  & .instaload {
    @include flexCenter;
    flex-wrap: wrap;
  }

  & img {
    width: 25vw;
    margin: 10px;

    @media (max-width: $md) {
      width: 35vw;
      margin: 1rem 1rem;
    }
  }
  @media (max-width: $md) {
    width: calc(100% - 15px);
  }
} */
.container {
  display: flex;
  justify-content: center;
  padding: 30px;
  position: relative;
}

/* & button {
    border: 2px solid rgba($primary-color, 0.4);
    padding: 10px 10px;
    background: rgba($primary-color, 0.3);
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    color: $secondary-color;
  }

  & a {
    border: 2px solid rgba($primary-color, 0.4);
    padding: 10px 20px;
    background: rgba($primary-color, 0.3);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: rgba($secondary-color, 0.5);
      color: $text;
    }
  }
}
.cvcontainer {
  position: relative;
  & img {
    width: 40vw;

    @media (max-width: $md) {
      width: 80vw;
    }
  }
}
.bioimg {
  display: flex;
  align-items: center;
  flex-direction: column;

  & a {
    color: $secondary-color;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
  }

  & i {
    color: $secondary-color;
    font-size: 2rem;
  }

  & img {
    margin: 40px;
    top: 0;
    width: 20vw;

    @media (max-width: $md) {
      width: 40vw;
    }
  }
} */
footer {
  bottom: 0;
  width: 100vw;
  background-color: rgba(83, 83, 83, 0.5);
  color: #f5cb5c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}
footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-container h2 {
  margin: 0 2rem;
}
footer .footer-container .social-icons i {
  color: #f5cb5c;
  font-size: 1.5rem;
  margin: 0 1rem;
}
footer .footer-container .social-icons i:hover {
  color: #121213;
}

.works-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  flex-direction: column;
}
.works-container h1 {
  font-size: 3rem;
  text-decoration: underline;
}
.works-container p {
  background-color: rgba(51, 53, 51, 0.3);
  display: flex;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.works-container .works-map {
  position: relative;
  display: flex;
  flex-direction: column;
}
.works-container .works-map img {
  width: 70vw;
  height: 80vh;
}
.works-container .works-map a {
  position: absolute;
  color: #333533;
  font-size: 1.5rem;
  text-decoration: none;
}
.works-container .works-map a span {
  display: none;
  transform: translateX(-40%);
}
.works-container .works-map a:hover span {
  color: #f5cb5c;
  background: rgba(51, 53, 51, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  display: block;
}
.works-container .works-map a i {
  font-size: 1rem;
  color: #333533;
  background: #f5cb5c;
  border-radius: 50%;
  padding: 0.3rem;
}
.works-container .works-map #badacs-link {
  top: 1rem;
  left: 1rem;
}
.works-container .works-map #balaton-link {
  top: 2.5rem;
  left: 1rem;
}
.works-container .works-map #csopak-link {
  top: 4rem;
  left: 1rem;
}
.works-container .works-map #fulek-link {
  top: 5.5rem;
  left: 1rem;
}
.works-container .works-map #mindszent-link {
  top: 7rem;
  left: 1rem;
}
.works-container .works-map #poroszlo-link {
  top: 8.5rem;
  left: 5rem;
}
.works-container .works-map #pusztazamor-link {
  top: 15rem;
  left: 10rem;
}
.works-container .works-map #tagyon-link {
  top: 20rem;
  left: 20rem;
}
.works-container .works-map #tapolca-link {
  top: 26rem;
  left: 22rem;
}
.works-container .works-map #tiszakecske-link {
  top: 30rem;
  left: 30rem;
}
.works-container .works-map #tiszaladany-link {
  top: 35rem;
  left: 40rem;
}
.works-container .works-content {
  display: flex;
  flex-direction: column;
}
.works-container .works-content h1 {
  margin: 2rem auto;
}

.works {
  width: 70vw;
}
.works .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}
.works .img-container img {
  width: 20vw;
  margin: 2rem;
}

.faq-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

#accordion {
  margin: 100px;
  width: 60vw;
  padding-right: 0;
}
#accordion .faq-content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
#accordion li {
  list-style-type: none;
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 3px;
  font-size: 1.5rem;
}
#accordion li img {
  position: fixed;
  margin: 0;
  max-height: 0;
  width: 35vw;
  top: 10vh;
  right: 15rem;
  transition: max-height 0.6s ease-out;
}
#accordion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 400;
  cursor: pointer;
  color: #f5cb5c;
}
#accordion li label + input[type=radio] {
  display: none;
}
#accordion li label + input[type=radio]:checked + .faq-content {
  max-height: 200px;
}
#accordion li label + input[type=radio]:checked + .faq-content img {
  max-height: 80vh;
}

/* .faq-img {
  width: 50vw;
  height: 70vh;

  @media (max-width: $md) {
    display: none;
  }

  & img {
    width: 40vw;
    margin-left: 5rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
} */
.faq-line {
  width: 90%;
  height: 3px;
  margin: 3rem auto;
  background: #333533;
  background: linear-gradient(to right, transparent, #333533, transparent);
}

.contact-container {
  background-image: url(/Images/contact_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  height: 100vh;
}
.contact-container .contact-links {
  transform: translateX(-60px);
  background: rgba(51, 53, 51, 0.8);
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #fffbf0;
  position: absolute;
  top: 6rem;
}
.contact-container .contact-links a {
  color: #fffbf0;
}
.contact-container .contact-links i {
  color: #f5cb5c;
  font-size: 1.5rem;
}
.contact-container h1,
.contact-container h2 {
  margin: 1rem;
}
.contact-container .social-icons {
  cursor: pointer;
  font-size: 2rem;
}
.contact-container .social-icons i {
  color: #f5cb5c;
  margin: 1rem;
}
.contact-container .social-icons i:hover {
  color: #333533;
}

.hero .image-carousel {
  width: 100vw;
  height: 100vh;
}
.hero .image-carousel .image-carousel__btn--prev {
  transform: translateX(25%);
}
.hero .image-carousel .image-carousel__btn--next {
  transform: translateX(-30%);
}

.row {
  display: flex;
  flex-direction: column;
}
.row h1 {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.row .faq-line {
  margin-top: 100px;
}

.image-carousel {
  position: relative;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
  background-color: rgba(255, 251, 240, 0.2);
  /* &__dots-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 30px;
    bottom: -30px;
    transition: bottom 0.2s ease;

    & .image-carousel__dot {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba($primary-color, 0.4);
      margin: 10px 15px;
      cursor: pointer;

      &--active {
        background-color: $secondary-color;
      }
    }
  } */
}
.image-carousel .image-carousel__btn--prev {
  left: 0;
  font-size: 1.5rem;
}
.image-carousel .image-carousel__btn--next {
  right: 0;
  font-size: 1.5rem;
}
.image-carousel__btn {
  position: absolute;
  z-index: 10;
  color: #f5cb5c;
  background-color: rgba(51, 53, 51, 0.3);
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  top: 50%;
  transform: translate(0, 0);
  transition: all 0.2s ease;
}
.image-carousel__btn:hover {
  background-color: rgba(51, 53, 51, 0.8);
}
.image-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
  width: 100%;
  height: 100%;
  display: flex;
}
.image-carousel__slide img {
  height: 100%;
}
.image-carousel__slide--active {
  opacity: 1;
}
.image-carousel__dots-container {
  display: block;
  position: absolute;
  cursor: pointer;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
}
.image-carousel__dot {
  display: inline-block;
  z-index: 5;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #333533;
  margin: 5px 10px;
  box-shadow: 0px 1px 4px #333533;
}
.image-carousel__dot--active {
  background: #f5cb5c;
}

.overlay {
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
  background: rgba(51, 53, 51, 0.4);
  width: 100vw;
  height: 100vh;
  transition: transform 0.3s ease;
}

a {
  text-decoration: none;
  outline: none;
  color: #333333;
}

li {
  list-style: none;
}

@keyframes hover {
  50% {
    transform: translateX(10px);
  }
}
.offcanvas-menu > label {
  top: 30px;
  left: 30px;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 9999;
}
.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
  transition: all 0.3s, transform 0.3s;
}
.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 30px;
  border-radius: 5px;
  background: #f5cb5c;
}
.offcanvas-menu label span::before {
  transform: translate(-5px, -12px);
}
.offcanvas-menu label span::after {
  transform: translate(-5px, 12px);
}
.offcanvas-menu nav {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 350px;
  left: -350px;
  overflow: hidden;
  background: rgba(51, 53, 51, 0.5);
  transition: 0.3s ease;
  padding: 40px 30px;
}
.offcanvas-menu nav > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offcanvas-menu nav > div a {
  background-color: rgba(245, 203, 92, 0.5);
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #f5cb5c;
}
.offcanvas-menu nav > div a img {
  width: 15rem;
}
.offcanvas-menu nav > div label {
  width: 30px;
  height: 30px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.offcanvas-menu nav > div label span,
.offcanvas-menu nav > div label span:before,
.offcanvas-menu nav > div label span:after {
  color: #f5cb5c;
}
.offcanvas-menu nav > ul {
  margin-top: 30px;
}
.offcanvas-menu nav > ul li {
  cursor: pointer;
  padding: 10px 0;
  transform: translateX(-30px);
  opacity: 0;
  transition: 0.4s ease;
}
.offcanvas-menu nav > ul li a {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 400;
  color: #f5cb5c;
  text-decoration: underline;
  display: block;
}
.offcanvas-menu nav > ul li:hover {
  animation: hover 0.5s;
}
.offcanvas-menu input[type=checkbox] {
  display: none;
}
.offcanvas-menu input[type=checkbox]:checked ~ .overlay {
  transform: translateX(0%);
}
.offcanvas-menu input[type=checkbox]:checked ~ label {
  opacity: 0;
  pointer-events: none;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav {
  left: 0;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span {
  background: transparent;
  top: 50px;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:before {
  transform: rotate(-45deg);
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:after {
  transform: rotate(45deg);
}
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:before,
.offcanvas-menu input[type=checkbox]:checked ~ nav label span:after {
  transition-delay: 0.2s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li {
  opacity: 1;
  transform: translateX(0px);
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(4) {
  transition-delay: 0.4s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(5) {
  transition-delay: 0.5s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(6) {
  transition-delay: 0.6s;
}
.offcanvas-menu input[type=checkbox]:checked ~ nav ul li:nth-child(7) {
  transition-delay: 0.7s;
}

section {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
  color: #f5cb5c;
  background: url(/Images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
section .hero {
  display: flex;
  justify-content: center;
  position: relative;
  width: 500px;
}
section .hero h1 {
  color: #333533;
  position: absolute;
  top: 3rem;
  font-size: 4rem;
}
section .hero p {
  position: absolute;
  top: 8rem;
  color: #333533;
  font-size: 1.5rem;
}
section .hero img {
  position: absolute;
  top: 10rem;
  height: 180px;
}

/* .switch {
  position: absolute;
  right: 5rem;
  top: 5rem;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: $primary-color;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: $primary-color;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: $primary-color;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: $secondary-color;
  -webkit-moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
} */
/* .bioimg {
  display: flex;
  position: relative;
  margin: 2rem;
  & a {
    font-size: 2rem;
    border: 2px solid $secondary-color;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    left: 5rem;
    top: 50vh;
  }

  & img {
    position: absolute;
    left: 0;
    top: 2rem;
    height: 40vh;
  }
}
.cvcontainer {
  position: relative;

  & img {
    height: 100vh;
    position: absolute;
    right: 0;
    margin: 0;
  }
}

.lan-container {
  display: flex;
  position: relative;
  height: 0px;
  padding: 50px;
  text-align: center;
  align-items: center;
  color: $secondary-color;

  & .text {
    display: none;
    max-height: 0;
    width: 70vw;

    & h2 {
      color: $secondary-color;
      border: 2px solid $secondary-color;
      border-radius: 3px;
      padding: 5px 10px;
      position: absolute;
      z-index: 3;
      top: 50vh;
      left: 14rem;
    }

    &.textHU {
      display: flex;
      flex-direction: column;

      & p {
        display: flex;
        flex-direction: row;
      }
    }
  }

  & .check {
    position: absolute;
    z-index: 3;
    top: 55vh;
    left: 15.5rem;
    width: 30px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 15px;
      background: $text;
      border-radius: 3px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background: $bg-dark;
      border-radius: 3px;
      transition: all 0.3s;
      border: 2px solid $text;
      box-sizing: border-box;
    }

    &:checked::after {
      left: 12px;
      border: 2px solid $secondary-color;
    }

    &:checked::before {
      background: $secondary-color;
    }

    &:checked ~ .text.textHU {
      display: none;
    }
    &:checked ~ .text.textEN {
      display: block;
    }
  }
} */
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}
.form-box a {
  color: #f5cb5c;
  font-size: 1.5rem;
  border: 2px solid #f5cb5c;
  padding: 5px 10px;
  border-radius: 20px;
}
.form-box .download-btn-eng {
  display: none;
}

.button-box {
  width: 220px;
  height: 100%;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: #333533;
}

.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  color: #fff;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #f5cb5c;
  border-radius: 30px;
  transition: 0.5s;
}

.bio-container {
  display: flex;
  height: 100vh;
}
.bio-container .bioimg {
  margin: 30px;
}
.bio-container .bioimg img {
  height: 30vh;
}
.bio-container .cvcontainer {
  margin: 30px;
}
.bio-container .cvcontainer .cv-eng {
  display: none;
}

/*# sourceMappingURL=style.css.map */
