// variables - colors, font definitions, spacings, sizes, breakpoints, etc
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400;600&family=Montserrat:wght@200;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Adamina&family=Quicksand:wght@300&family=Roboto&family=Saira+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Quicksand:wght@300&family=Roboto&family=Saira+Condensed:wght@300&display=swap");

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition {
  transition: all 0.5s ease-in-out;
}

$primary-color: #333533;
$secondary-color: #f5cb5c;
$primary-font: "Lora";
$secondary-font: "Lora";
$bg-light: rgba(83, 83, 83, 0.5);
$bg-dark: #fffbf0;
$text: #121213;

$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

// general styles
body {
  margin: 0;
  overflow-x: hidden;
  font-family: $primary-font;
  font-weight: lighter;
  color: $bg-dark;
  background: url(/Images/gray-brick-wallpaper.jpg);
  /* background: linear-gradient(
    to right,
    rgba($primary-color, 0.9),
    rgba($primary-color, 0.2)
  ); */
  /* 
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url(/Images/blank-brown-paper-textured-wallpaper-min.jpg); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: $secondary-color;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;

  @media (max-width: $md) {
    font-size: 1.5rem;
  }
}

h2,
h3 {
  font-family: $primary-font;
  margin: 0;
  font-weight: lighter;

  @media (max-width: $md) {
    font-size: 1.2rem;
  }
}

// Wrapper-old

/* .wrapper {
  @include flexCenter;
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  position: relative;

  & i {
    position: absolute;
    top: 50%;
    height: 46px;
    width: 46px;
    color: $secondary-color;
    background: $primary-color;
    text-align: center;
    line-height: 46px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
    transform: translateX(-50%);

    &:first-child {
      left: 25px;
      display: none;
    }
    &:last-child {
      right: -15px;
    }
  }

  & .carousel {
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;

    &.dragging {
      cursor: grabbing;
      scroll-behavior: auto;

      & img {
        pointer-events: none;
      }
    }
  }
  & img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    margin-left: 0px;

    @media (max-width: $lg) {
      width: calc(100% / 1);
    }

    &:first-child {
      margin-left: 0px;
    }
  }
} */

.logo {
  & img {
    margin: 0;
    color: $secondary-color;
    background: $secondary-color;
    height: 50px;
  }
}

.scrollButton,
.downButton {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  border: none;
  background: transparent;

  & i {
    font-size: 2rem;
    background: rgba($bg-dark, 0.2);
    padding: 4px 8px;
    border: 1px solid rgba($bg-light, 0.7);
    border-radius: 4px;
    background: rgba($primary-color, 0.5);
    color: $secondary-color;
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

.downButton {
  pointer-events: auto;
  opacity: 1;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

// .to-down {
//   opacity: 0;
//   pointer-events: none;
//   transition: all 0.3s;

//   & i {
//     position: fixed;
//     right: 1rem;
//     bottom: 1rem;
//     font-size: 2rem;
//     background: rgba($bg-dark, 0.2);
//     padding: 4px 8px;
//     border: 1px solid rgba($bg-light, 0.7);
//     border-radius: 4px;
//     cursor: pointer;
//     background: rgba($primary-color, 0.5);
//     color: $secondary-color;
//   }

//   &.active {
//     opacity: 1;
//     pointer-events: auto;

//     & i {
//       transform: rotate(0deg);
//     }
//   }
// }

// navigation
/* .nav {
  position: fixed;
  top: 0;
  width: calc(100% - 15px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($primary-color, 0.7);
  box-shadow: 0px 0px 4px $bg-dark;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.2s ease;
  z-index: 2;

  @media (max-width: $md) {
    display: flex;
    flex-direction: column;
    transform: translateY(-110%);
  }
  &__left {
    @include flexCenter;

    & a {
      & h1:hover {
        color: $primary-color;
      }
    }
  }

  &.open {
    transform: translateY(0%);
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    @media (max-width: $md) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item {
    list-style: none;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $secondary-color;
    font-family: $primary-font;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

.menu-btn {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  visibility: hidden;
  @include transition;

  @media (max-width: $md) {
    visibility: visible;
  }

  &__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: $primary-color;

    @include transition;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: $primary-color;
      @include transition;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: $primary-color;
      @include transition;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
      }
    }
  }
} */

/*  */

/* .insta-img-main {
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
} */

/* .insta-img {
  width: 100vw;
  padding: 25px;
  @include flexCenter;
  flex-wrap: wrap;
  margin: 2rem auto;

  & h1 {
    text-decoration: underline;
  }

  & .instaload {
    @include flexCenter;
    flex-wrap: wrap;
  }

  & img {
    width: 25vw;
    margin: 10px;

    @media (max-width: $md) {
      width: 35vw;
      margin: 1rem 1rem;
    }
  }
  @media (max-width: $md) {
    width: calc(100% - 15px);
  }
} */

.container {
  display: flex;
  justify-content: center;
  padding: 30px;
  position: relative;
}

/* & button {
    border: 2px solid rgba($primary-color, 0.4);
    padding: 10px 10px;
    background: rgba($primary-color, 0.3);
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    color: $secondary-color;
  }

  & a {
    border: 2px solid rgba($primary-color, 0.4);
    padding: 10px 20px;
    background: rgba($primary-color, 0.3);
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: rgba($secondary-color, 0.5);
      color: $text;
    }
  }
}
.cvcontainer {
  position: relative;
  & img {
    width: 40vw;

    @media (max-width: $md) {
      width: 80vw;
    }
  }
}*/

footer {
  bottom: 0;
  width: 100vw;
  background-color: $bg-light;
  color: $secondary-color;
  @include flexCenter;
  height: 10vh;

  & .footer-container {
    @include flexCenter;

    & h2 {
      margin: 0 2rem;
    }

    & .social-icons {
      & i {
        color: $secondary-color;
        font-size: 1.5rem;
        margin: 0 1rem;

        &:hover {
          color: $text;
        }
      }
    }
  }
}

.works-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  flex-direction: column;

  & h1 {
    text-decoration: underline;
  }

  & p {
    background-color: rgba($primary-color, 0.3);
    display: flex;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  @media (max-width: $lg) {
    width: 100vw;
  }

  /*  & .works-map {
    position: relative;
    display: flex;
    flex-direction: column;

    & img {
      width: 1200px;
      height: 800px;
      overflow: scroll;
    }

    & a {
      position: absolute;
      color: $primary-color;
      font-size: 1.5rem;
      text-decoration: none;

      & span {
        display: none;
        transform: translateX(-40%);
      }

      &:hover span {
        color: $secondary-color;
        background: rgba($primary-color, 0.5);
        padding: 5px 10px;
        border-radius: 5px;
        display: block;
      }

      & i {
        font-size: 1rem;
        color: $primary-color;
        background: $secondary-color;
        border-radius: 50%;
        padding: 0.3rem;
      }
    }

    & #badacs-link {
      top: 1rem;
      left: 1rem;
    }

    & #balaton-link {
      top: 2.5rem;
      left: 1rem;
    }

    & #csopak-link {
      top: 4rem;
      left: 1rem;
    }

    & #fulek-link {
      top: 5.5rem;
      left: 1rem;
    }

    & #mindszent-link {
      top: 7rem;
      left: 1rem;
    }

    & #poroszlo-link {
      top: 8.5rem;
      left: 5rem;
    }

    & #pusztazamor-link {
      top: 15rem;
      left: 10rem;
    }

    & #tagyon-link {
      top: 20rem;
      left: 20rem;
    }

    & #tapolca-link {
      top: 26rem;
      left: 22rem;
    }

    & #tiszakecske-link {
      top: 30rem;
      left: 30rem;
    }

    & #tiszaladany-link {
      top: 35rem;
      left: 40rem;
    }
  } */

  & .works-content {
    display: flex;
    flex-direction: column;

    h1 {
      margin: 2rem auto;
    }
  }
}

.works {
  width: 70vw;

  & .img-container {
    @include flexCenter;
    flex-wrap: wrap;
    margin-top: 4rem;
    position: relative;

    & .one-dot {
      z-index: 5;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $secondary-color;
      margin: 5px 10px;
      box-shadow: 0px 1px 4px $primary-color;
      position: absolute;
      bottom: 50px;
    }

    & img {
      height: 70vh;
      margin: 2rem;
    }
  }
}

.faq-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

#accordion {
  margin: 100px;
  width: 60vw;
  padding-right: 0;

  @media (max-width: $lg) {
    width: 80vw;

    transform: translateX(30%);
  }

  & .faq-content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;

    @media (max-width: $lg) {
      width: 80vw;
    }
  }

  & li {
    list-style-type: none;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 3px;
    font-size: 1.5rem;

    & img {
      position: fixed;
      margin: 0;
      max-height: 0;
      width: 35vw;
      top: 10vh;
      right: 15rem;
      transition: max-height 0.6s ease-out;

      @media (max-width: $lg) {
        display: none;
      }
    }

    & label {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 3rem;
      font-weight: 400;
      cursor: pointer;
      color: $secondary-color;

      & + input[type="radio"] {
        display: none;

        &:checked + .faq-content {
          max-height: 200px;

          & img {
            max-height: 80vh;
          }
        }
      }
    }
  }
}

/* .faq-img {
  width: 50vw;
  height: 70vh;

  @media (max-width: $md) {
    display: none;
  }

  & img {
    width: 40vw;
    margin-left: 5rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
} */
.faq-line {
  width: 90%;
  height: 3px;
  margin: 3rem auto;
  background: $primary-color;
  background: linear-gradient(to right, transparent, $bg-dark, transparent);
}

.contact-container {
  background-image: url(/Images/contact_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  @include flexCenter;
  position: relative;
  margin: 0;
  height: 100vh;

  & .contact-links {
    transform: translateX(-60px);
    background: rgba($primary-color, 0.8);
    padding: 2rem;
    border-radius: 5px;
    position: absolute;
    top: 6rem;

    @media (max-width: $md) {
      transform: translateX(0);
    }

    & a {
      color: $bg-dark;

      @media (max-width: $md) {
        font-size: 1.2rem;
      }
    }

    & i {
      color: $secondary-color;
      font-size: 1.5rem;
    }
  }

  & h1,
  h2 {
    margin: 1rem;
  }

  & .social-icons {
    cursor: pointer;
    font-size: 2rem;

    & i {
      color: $secondary-color;
      margin: 1rem;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* .hero {
  & .image-carousel {
    width: 100vw;
    height: 100vh;

    & .image-carousel__btn--prev {
      transform: translateX(25%);
    }

    & .image-carousel__btn--next {
      transform: translateX(-30%);
    }
  }

  & h1 {
    @media (max-width: $md) {
      color: #f5cb5c;
    }
  }
} */

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1 {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  & .faq-line {
    margin-top: 100px;
  }

  & p {
    @media (max-width: $lg) {
      font-size: 1.2rem;
      margin: 0px 40px;
    }
  }
  @media (max-width: $lg) {
    width: 50vw;
    margin: auto;
  }
}

.image-carousel {
  position: relative;
  height: 70vh;
  overflow: hidden;

  @media (max-width: $lg) {
    width: 100vw;
  }

  .image-carousel__btn--prev {
    left: 0;
    font-size: 1.5rem;
  }

  .image-carousel__btn--next {
    right: 0;
    font-size: 1.5rem;
  }

  &__btn {
    position: absolute;
    z-index: 10;
    color: $secondary-color;
    background-color: rgba($primary-color, 0.3);
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    top: 50%;
    transform: translate(0, 0);
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba($primary-color, 0.8);
    }

    @media (max-width: $lg) {
      display: none;
    }
  }

  &__slide {
    @include flexCenter;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    width: 100%;
    height: 100%;
    display: flex;

    & img {
      max-width: 100%;
      max-height: 100%;
    }

    &--active {
      opacity: 1;
    }
  }

  &__dots-container {
    display: block;
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
  }

  &__dot {
    display: inline-block;
    z-index: 5;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $primary-color;
    margin: 5px 10px;
    box-shadow: 0px 1px 4px $primary-color;

    &--active {
      background: $secondary-color;
    }
  }

  /* &__dots-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 30px;
    bottom: -30px;
    transition: bottom 0.2s ease;

    & .image-carousel__dot {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba($primary-color, 0.4);
      margin: 10px 15px;
      cursor: pointer;

      &--active {
        background-color: $secondary-color;
      }
    }
  } */
}

// Off-canvas

.overlay {
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
  background: rgba($primary-color, 0.4);
  width: 100vw;
  height: 100vh;
  transition: transform 0.3s ease;
}

a {
  text-decoration: none;
  outline: none;
  color: darken($color: #fff, $amount: 80);
}

li {
  list-style: none;
}

@keyframes hover {
  50% {
    transform: translateX(10px);
  }
}

.offcanvas-menu {
  > label {
    top: 30px;
    left: 30px;
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    z-index: 9999;
  }

  label {
    span,
    span::before,
    span::after {
      transition: all 0.3s, transform 0.3s;
    }

    span,
    span::before,
    span::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 30px;
      border-radius: 5px;
      background: $secondary-color;
    }

    span::before {
      transform: translate(-5px, -12px);
    }

    span::after {
      transform: translate(-5px, 12px);
    }
  }

  nav {
    position: fixed;

    z-index: 10;
    height: 100%;
    width: 350px;
    left: -350px;
    overflow: hidden;
    background: rgba($primary-color, 0.5);
    transition: 0.3s ease;
    padding: 40px 30px;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        background-color: rgba($bg-dark, 0.7);
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        color: $secondary-color;

        & img {
          width: 15rem;

          @media (max-width: $md) {
            width: 10rem;
          }
        }
      }

      label {
        width: 30px;
        height: 30px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease;

        span,
        span:before,
        span:after {
          color: $secondary-color;
        }
      }
    }

    > ul {
      margin-top: 30px;

      li {
        cursor: pointer;
        padding: 10px 0;
        transform: translateX(-30px);
        opacity: 0;
        transition: 0.4s ease;

        a {
          font-size: 2rem;
          line-height: 1.5;
          font-weight: 400;
          color: $secondary-color;
          display: block;

          @media (max-width: $md) {
            font-size: 1.5rem;
          }
        }

        &:hover {
          animation: hover 0.5s;
        }
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      ~ .overlay {
        transform: translateX(0%);
      }

      ~ label {
        opacity: 0;
        pointer-events: none;
      }

      ~ nav {
        left: 0;
      }

      ~ nav label span {
        background: transparent;
        top: 50px;
      }

      ~ nav label span:before {
        transform: rotate(-45deg);
      }

      ~ nav label span:after {
        transform: rotate(45deg);
      }

      ~ nav label span:before,
      ~ nav label span:after {
        transition-delay: 0.2s;
      }

      ~ nav ul li {
        opacity: 1;
        transform: translateX(0px);
      }

      ~ nav ul li:nth-child(1) {
        transition-delay: 0.1s;
      }

      ~ nav ul li:nth-child(2) {
        transition-delay: 0.2s;
      }

      ~ nav ul li:nth-child(3) {
        transition-delay: 0.3s;
      }

      ~ nav ul li:nth-child(4) {
        transition-delay: 0.4s;
      }

      ~ nav ul li:nth-child(5) {
        transition-delay: 0.5s;
      }

      ~ nav ul li:nth-child(6) {
        transition-delay: 0.6s;
      }

      ~ nav ul li:nth-child(7) {
        transition-delay: 0.7s;
      }
    }
  }
}

section {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 4rem;
  color: $secondary-color;
  background: url(/Images/hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $lg) {
    background-size: cover;
  }

  & .hero {
    display: flex;
    justify-content: center;
    position: relative;
    width: 500px;

    & h1 {
      color: $primary-color;
      position: absolute;
      top: 3rem;
      font-size: 4rem;
    }

    & p {
      position: absolute;
      top: 8rem;
      color: $primary-color;
      font-size: 1.5rem;
    }

    & img {
      position: absolute;
      top: 10rem;
      height: 180px;
    }

    @media (max-width: $lg) {
      & h1 {
        font-size: 2.5rem;
      }
      & img {
        height: 130px;
      }
    }
    @media (max-width: $md) {
      & p {
        font-size: 1.5rem;
      }
      & img {
        height: 130px;
      }
    }
  }
}

/* .switch {
  position: absolute;
  right: 5rem;
  top: 5rem;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: $primary-color;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: $primary-color;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: $primary-color;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: $secondary-color;
  -webkit-moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
} */

/* .bioimg {
  display: flex;
  position: relative;
  margin: 2rem;
  & a {
    font-size: 2rem;
    border: 2px solid $secondary-color;
    padding: 5px 10px;
    border-radius: 3px;
    position: absolute;
    left: 5rem;
    top: 50vh;
  }

  & img {
    position: absolute;
    left: 0;
    top: 2rem;
    height: 40vh;
  }
}
.cvcontainer {
  position: relative;

  & img {
    height: 100vh;
    position: absolute;
    right: 0;
    margin: 0;
  }
}

.lan-container {
  display: flex;
  position: relative;
  height: 0px;
  padding: 50px;
  text-align: center;
  align-items: center;
  color: $secondary-color;

  & .text {
    display: none;
    max-height: 0;
    width: 70vw;

    & h2 {
      color: $secondary-color;
      border: 2px solid $secondary-color;
      border-radius: 3px;
      padding: 5px 10px;
      position: absolute;
      z-index: 3;
      top: 50vh;
      left: 14rem;
    }

    &.textHU {
      display: flex;
      flex-direction: column;

      & p {
        display: flex;
        flex-direction: row;
      }
    }
  }

  & .check {
    position: absolute;
    z-index: 3;
    top: 55vh;
    left: 15.5rem;
    width: 30px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 15px;
      background: $text;
      border-radius: 3px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background: $bg-dark;
      border-radius: 3px;
      transition: all 0.3s;
      border: 2px solid $text;
      box-sizing: border-box;
    }

    &:checked::after {
      left: 12px;
      border: 2px solid $secondary-color;
    }

    &:checked::before {
      background: $secondary-color;
    }

    &:checked ~ .text.textHU {
      display: none;
    }
    &:checked ~ .text.textEN {
      display: block;
    }
  }
} */

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;

  & a {
    color: $secondary-color;
    font-size: 1.5rem;
    border: 2px solid $secondary-color;
    padding: 5px 10px;
    border-radius: 20px;
  }

  & .download-btn-eng {
    display: none;
  }
}

.button-box {
  width: 220px;
  height: 100%;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: $primary-color;
}

.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  color: #fff;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: $secondary-color;
  border-radius: 30px;
  transition: 0.5s;
}

.bio-container {
  display: flex;
  height: 100vh;

  @media (max-width: $lg) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  & .bioimg {
    margin: 30px;

    @media (max-width: $lg) {
    }

    & img {
      height: 30vh;

      @media (max-width: $lg) {
        display: none;
      }
    }
  }

  & .cvcontainer {
    height: 90vh;
    margin: auto 2rem;

    & img {
      height: 100%;
      width: 100%;
    }

    .cv-eng {
      display: none;
    }
  }
}

.insta-img-main {
  margin: auto;
  width: 1200px;
  height: 100vh;
  transform: translateY(10%);

  @media (max-width: 1300px) {
    width: 800px;
  }
  @media (max-width: 900px) {
    width: 700px;
  }
  @media (max-width: $md) {
    width: 500px;
  }
}
.insta-h1 {
  @include flexCenter;

  & h1 {
    margin-top: 5rem;
    text-decoration: underline;
  }
}

// Works list box

.works-list-container {
  @include flexCenter;

  flex-wrap: wrap;
}
.list {
  position: relative;
  margin: 3rem 5rem;
}
.list h2 {
  color: $secondary-color;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-size: 1.7rem;
}
.list ul {
  position: relative;
}
.list ul li {
  position: relative;
  left: 0;
  color: #fce4ec;
  list-style: none;
  margin: 4px 0;
  border-left: 2px solid $secondary-color;
  transition: 0.5s;
  cursor: pointer;
}
.list ul li:hover {
  left: 10px;
}
.list ul li span {
  position: relative;
  padding: 8px;
  padding-left: 12px;
  display: inline-block;
  z-index: 1;
  transition: 0.5s;
  font-size: 1.3rem;
}
.list ul li:hover span {
  color: #111;
}
.list ul li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: $secondary-color;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.list ul li:hover:before {
  transform: scaleX(1);
}
